<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8"/>
    <title>List of all credits</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .credits, .credits td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>


<body>

<h1 th:if="${credits.isEmpty()}">No credits</h1>
<h1 th:if="${!credits.isEmpty()}">Credits:</h1>
<table class="credits" th:if="${!credits.isEmpty()}">
    <thead>
    <tr>
        <th>ID</th>
        <th>Credit amount</th>
        <th>Year percent, %</th>
        <th>Start month</th>
        <th>Duration in months</th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${credit}" th:each="credit : ${credits}">
        <td th:text="*{scheduleChainId}">credit_id</td>
        <td th:text="*{creditParameters.creditAmount}">credit_amount</td>
        <td th:text="*{creditParameters.yearPercent}">year_percent</td>
        <td th:text="*{creditParameters.startMonth}">start_month</td>
        <td th:text="*{creditParameters.durationInMonths}">duration_in_months</td>
        <td>
            <a class="url_schedule_chain" th:href="@{${url_schedule_chain}(${param_credit_id}=*{scheduleChainId})}" href="schedule-chain.html">Show schedules</a>
        </td>
        <td>
            <form id="delete-form" th:action="@{${url_delete_credit}(${param_credit_id}=*{scheduleChainId})}" th:method="post" action="credits.html">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br th:if="${!credits.isEmpty()}" />
<td>
    <a th:href="@{${url_add_credit}}" href="add-credit.html">Add credit</a>
</td>

</body>


</html>
